@import './variables';

.footer {
  background: $blue;
  color: $white;
  padding: 3rem 1.5rem;
}
.footer-credit {
  text-align: center;
  span {
    line-height: 2rem;
  }
  @media screen and (min-width: $desktop) {
    text-align: right;
    span {
      line-height: normal;
    }
  }
}
.footer-nav {
  ul {
    list-style: none;
    margin-block-end: unset;
    display: flex;
    padding: 0;
  }
}
.footer-nav-item {
  padding: 0 1rem;
  &:last-child {
    padding: 0;
  }
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $desktop) {
    align-items: flex-end;
  }
}