@import './variables';

.navbar {
  @media screen and (min-width: $desktop) {
    box-shadow: 0 2px 8px $black-50;
    padding: 20px 0;
  }
}
.navbar-brand {
  @media screen and (max-width: $desktop) {
    position: relative;
    box-shadow: 0 2px 8px $black-50;
    z-index: 2;
  }
}
.navbar-burger {
  background: none;
  border: none;
  @media screen and (max-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 1rem;
    height: 1rem;
  }
  .navbar-close {
    display: none;
  }
  &.is-active {
    .navbar-close {
      display: block;
    }
    .navbar-open {
      display: none;
    }
  }
}
.navbar-item {
  padding: 0.75rem 1.5rem;
  &:link,
  &:visited {
    color: $black-60;
    text-decoration: none;
  }
  @media screen and (min-width: $desktop) {
    padding: 0.5rem 0.75rem;
    .navbar-brand & {
      padding: 0;
    }
    img {
      max-height: none;
    }
  }
}
.navbar-menu {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 0.75rem 0;
  @media screen and (max-width: $desktop) {
    &.is-active {
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 1;
    }
  }
}