@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/grid/columns.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/form.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/layout/footer.sass';

@import './variables.scss';

body {
  margin: 0;
  padding: 0;
  color: $grey-90;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  &:link,
  &:visited {
    color: white;
    text-decoration: none;
  }
}

.page-container {
  margin-top: 2rem;
  padding: 0 1rem;
  .desktop {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 4.7rem;
    padding: 0;
    .desktop {
      display: block;
    }
    .mobile {
      display: none;
    }
  }
  .columns {
    margin-bottom: 6rem;
  }
}
