// colors
$blue: #108ee9;
$white: #ffffff;
$brownish-grey: #666666;
$light-grey: #deded5;
$grey: rgb(68, 68, 68);
$grey-90: rgba(102, 102, 102, 0.9);
$greyish-brown-90: rgba(68, 68, 68, 0.9);
$red: #fd6d6d;
$black-20: rgba(0, 0, 0, 0.2);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);

// breackpoints
$desktop: 1088px;
$tablet: 768px;
$mobile: 425px;

$font-stack: Helvetica, Arial, sans-serif;
